{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

<script src="{% static "js/jquery-1.11.1.js" %}"></script>
<script src="{% static "js/rango-jquery.js" %}"></script>
{% block content %}

  {% if film %}
  <div class="row">
        {% for f in film %}
        {%if f.4 %}
          <div class="column">
            <div class="content">
              <div class="floutage">
                <h3 class="texte_centre"> {{f.3}} / 10</h3>
                <img class="etoile" src="../media/etoile.png">
                  {% if f.5 == False %}
                     <a href="{% url 'tittle_video' tittle=f.4 %}"><img class="gris1234" src="{{f.2}}" alt="{{f.1}}" style="width:100%"></a>
                  {% else %}
                    <a href="{% url 'serie' title=f.4 %}"><img class="gris1234" src="{{f.2}}" alt="{{f.1}}" style="width:100%"></a>
                  {% endif %}
                <button class="button button3">View Details</button>
               </div>
              <h5 class="titre">{{f.1}}</h5>
              <span class="hidden-xs icon-star"></span>
            </div>
          </div>
          {% endif %}
          {% endfor %}
  {% elif movies %}
  <div class="row">
            {% for mov in movies %}
                <div class="column">
                <div class="content">
                <div class="floutage">
                  <h3 class="texte_centre"> {{mov.rate}} / 10</h3>
                  <img class="etoile" src="media/etoile.png">
                  {% if mov.serie == False %}
                      {% if mov.id in grey %}
                        <a href="{% url 'tittle_video' tittle=mov.id %}"><img class="gris1234" src="{{mov.miniature}}" alt="{{mov.name}}" style="width:100%; filter: grayscale(1) blur(3px);"></a>
                      {% else %}
                        <a href="{% url 'tittle_video' tittle=mov.id %}"><img class="gris1234" src="{{mov.miniature}}" alt="{{mov.name}}" style="width:100%;"></a>
                      {% endif %}
                    {% else %}
                    {% if mov.id in grey %}
                      <a href="{% url 'serie' title=mov.id %}"><img class="gris1234" src="{{mov.miniature}}" alt="{{mov.name}}" style="width:100%; filter: grayscale(1) blur(3px);"></a>
                      {% else %}
                      <a href="{% url 'serie' title=mov.id %}"><img class="gris1234" src="{{mov.miniature}}" alt="{{mov.name}}" style="width:100%;"></a>
                      {% endif %}
                  {% endif %}
                  <button class="button button3">View Details</button>
                </div>
                  <h5 class="titre">{{mov.name}}</h5>
                  {% if 'rate' in mov %}
                  <span class="hidden-xs icon-star"></span>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
  </div>
  {% endif %}
  
  <!-- END GRID -->
  
  <!-- END MAIN -->
  </div>
    </main>
    {% endblock content %}